interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thingspeak.com/channels/86945/feeds.json
  response:
    body: {string: '{"channel":{"id":86945,"name":"py thingspeak","description":"Python
        thingspeak testing","latitude":"0.0","longitude":"0.0","field1":"cpu_pc","field2":"mem_avail_mb","created_at":"2016-02-09T20:22:23Z","updated_at":"2017-02-11T21:40:41Z","last_entry_id":16},"feeds":[{"created_at":"2016-02-09T20:25:53Z","entry_id":1,"field1":"9.2","field2":"1000"},{"created_at":"2016-02-09T20:30:16Z","entry_id":2,"field1":"25.0","field2":"58.9"},{"created_at":"2017-02-11T19:48:30Z","entry_id":3,"field1":"1","field2":null},{"created_at":"2017-02-11T20:06:46Z","entry_id":4,"field1":"1","field2":null},{"created_at":"2017-02-11T20:09:22Z","entry_id":5,"field1":"1","field2":null},{"created_at":"2017-02-11T20:13:49Z","entry_id":6,"field1":"1","field2":null},{"created_at":"2017-02-11T20:17:26Z","entry_id":7,"field1":"1","field2":null},{"created_at":"2017-02-11T20:19:21Z","entry_id":8,"field1":"1","field2":null},{"created_at":"2017-02-11T21:16:41Z","entry_id":9,"field1":"1","field2":null},{"created_at":"2017-02-11T21:31:01Z","entry_id":10,"field1":"1","field2":null},{"created_at":"2017-02-11T21:34:21Z","entry_id":11,"field1":"1","field2":null},{"created_at":"2017-02-11T21:39:04Z","entry_id":12,"field1":"1","field2":null},{"created_at":"2017-02-11T21:40:41Z","entry_id":13,"field1":"1","field2":null},{"created_at":"2019-02-20T21:50:33Z","entry_id":14,"field1":"1","field2":null},{"created_at":"2019-02-20T21:59:05Z","entry_id":15,"field1":"1","field2":null},{"created_at":"2019-02-20T22:07:28Z","entry_id":16,"field1":"1","field2":null}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"50ae67c82c195b2276c3e75db97dab89"']
      Status: [200 OK]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thingspeak.com/channels/204504/feeds.json
  response:
    body: {string: '-1'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [400 Bad Request]
    status: {code: 400, message: Bad Request}
version: 1
