interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thingspeak.com/channels/86945/feeds.json
  response:
    body: {string: '{"channel":{"id":86945,"name":"py thingspeak","description":"Python
        thingspeak testing","latitude":"0.0","longitude":"0.0","field1":"cpu_pc","field2":"mem_avail_mb","created_at":"2016-02-09T20:22:23Z","updated_at":"2016-12-18T09:59:16Z","last_entry_id":2},"feeds":[{"created_at":"2016-02-09T20:25:53Z","entry_id":1,"field1":"9.2","field2":"1000"},{"created_at":"2016-02-09T20:30:16Z","entry_id":2,"field1":"25.0","field2":"58.9"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"375a434b0706412782b67f89eb0b6eee"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thingspeak.com/channels/204504/feeds.json
  response:
    body: {string: '-1'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [400 Bad Request]
    status: {code: 400, message: Bad Request}
version: 1
