interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.thingspeak.com/update.json?api_key=public&field1=1
  response:
    body: {string: '{"channel_id":86945,"field1":"1","field2":null,"field3":null,"field4":null,"field5":null,"field6":null,"field7":null,"field8":null,"created_at":"2017-02-11T21:40:41Z","entry_id":13,"status":null,"latitude":null,"longitude":null,"elevation":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"de95b99a3b5a16d925109d93b04ce713"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.thingspeak.com/update.json?api_key=private_write&field1=1
  response:
    body: {string: '{"channel_id":204504,"field1":"1","field2":null,"field3":null,"field4":null,"field5":null,"field6":null,"field7":null,"field8":null,"created_at":"2017-02-11T21:40:42Z","entry_id":7,"status":null,"latitude":null,"longitude":null,"elevation":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"c805396ed007ee3598561714443cfbb5"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.thingspeak.com/update.json?api_key=private_read&field1=1
  response:
    body: {string: '0'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [400 Bad Request]
    status: {code: 400, message: Bad Request}
version: 1
